<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieFlix</title>
    <link rel="stylesheet" href="HomePage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>



<body>
    <nav class="ubuntu-bold">
        <div class="Sitename">MovieFlix</div>
        <button><a href="/search">Search</a></button>
    </nav>
    <main id="displayBoard">
        <div id="loaderContainer">
            <div class="loader"></div>
        </div>

        <div id="MovieCategory">
            <div class="HighligterMovieCrausel" id="HighlightedMovies">
                <div class="arrowIcons" id="HighlightPreviousScroll">
                    <i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>
                </div>

                <div class="HighlightedMoviePoster">

                </div>

                <div class="arrowIcons" id="HighlightnextScroll">
                    <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                </div>
            </div>

            <div class="movieCardOuter">
                <h2>Marvel Universe</h2>
                <div class="carousalContainer" id="CarousalContainer">
                    <div class="arrowIcons" id="PreviousScroll">
                        <i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>
                    </div>

                    <div class="movieCardContainer" id="movieCardContainer">

                    </div>

                    <div class="arrowIcons" id="nextScroll">
                        <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="movieCardOuter">
                <h2>Documentary</h2>
                <div class="carousalContainer" id="CarousalContainer">
                    <div class="arrowIcons" id="PreviousScroll">
                        <i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>
                    </div>

                    <div class="movieCardContainer" id="movieCardContainer">

                    </div>

                    <div class="arrowIcons" id="nextScroll">
                        <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="movieCardOuter">
                <h2>Space</h2>
                <div class="carousalContainer" id="CarousalContainer">
                    <div class="arrowIcons" id="PreviousScroll">
                        <i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>
                    </div>

                    <div class="movieCardContainer" id="movieCardContainer">

                    </div>

                    <div class="arrowIcons" id="nextScroll">
                        <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="movieCardOuter">
                <h2>Series</h2>
                <div class="carousalContainer" id="CarousalContainer">
                    <div class="arrowIcons" id="PreviousScroll">
                        <i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>
                    </div>

                    <div class="movieCardContainer" id="movieCardContainer">

                    </div>

                    <div class="arrowIcons" id="nextScroll">
                        <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="movieCardOuter">
                <h2>Anime</h2>
                <div class="carousalContainer" id="CarousalContainer">
                    <div class="arrowIcons" id="PreviousScroll">
                        <i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>
                    </div>

                    <div class="movieCardContainer" id="movieCardContainer">

                    </div>

                    <div class="arrowIcons" id="nextScroll">
                        <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
<script src="HomePage.js"></script>

</html>