<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="SearchPage.css">
</head>
<body>
    <main>
        <div class="SearchBar flex items-center justify-center" id="SearchComponent">
            <input type="text" id="searchInput" placeholder="Search...">
            <button id="searchButton">Search</button>
        </div>

        <div class="Result-Display">
            <div class="movieCardContainer flex items-center justify-center" id="ResultWindow">
                <div class="EmptyDisplayMessage">
                    Search for the Movie 🎬
                </div>
            </div>
        </div>
    </main>
</body>
<script src="SearchPage.js"></script>
</html>